/* --------------------- */
/*  Custom Properties */
/* --------------------- */

:root {
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;
    --fs-200: 0.875rem;
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.75rem;
    --fs-600: 2rem;
    --fs-700: 3.5rem;
    --fs-800: 6.25rem;
    --fs-900: 9.375rem;
    --ff-serif: "Bellefair", serif;
    --ff-sans-normal: "Barlow", sans-serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
}

/* --------------------- */
/*  Reset */
/* --------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    background-color: hsl(var(--clr-dark));
    color: hsl(var(--clr-white));
    line-height: 1.5;
    min-height: 100vh;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea, 
select {
    font: inherit;
}

/* --------------------- */
/* Utility Classes */
/* --------------------- */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

/* .flow > * + *{
    margin-top: 1rem;
} */

.container {
    padding-inline: 2em;
    max-width: 80rem;
    margin-inline: auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* --------------------- */
/*  Colors */
/* --------------------- */
.bg-dark {
    background-color: hsl(var(--clr-dark));
}

.bg-light {
    background-color: hsl(var(--clr-light));
}

.bg-white {
    background-color: hsl(var(--clr-white));
}

.text-dark {
    color: hsl(var(--clr-dark));
}

.text-light {
    color: hsl(var(--clr-light));
}

.text-white {
    color: hsl(var(--clr-white));
}

/* --------------------- */
/*  Typography */
/* --------------------- */

.ff-serif { font-family: var(--ff-serif); }
.ff-sans-normal { font-family: var(--ff-sans-normal); }
.ff-sans-cond { font-family: var(--ff-sans-cond); }

.letter-spacing-1 { letter-spacing: 4.75px; }
.letter-spacing-2 { letter-spacing: 2.7px }
.letter-spacing-3 { letter-spacing: 2.35px }

.uppercase { text-transform: uppercase; }

.fs-200 { font-size: var(--fs-200); }
.fs-300 { font-size: var(--fs-300); }
.fs-400 { font-size: var(--fs-400); }
.fs-500 { font-size: var(--fs-500); }
.fs-600 { font-size: var(--fs-600); }
.fs-700 { font-size: var(--fs-700); }
.fs-800 { font-size: var(--fs-800); }
.fs-900 { font-size: var(--fs-900); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

.numbered-title {
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-500);
    text-transform: uppercase;
    letter-spacing: 4.72px;
}

.numbered-title span {
    margin-right: 0.5em;
    font-weight: 700;
    color: hsl(var(--clr-white) / .25);
}

/* --------------------- */
/*  Components */
/* --------------------- */

.circular-btn {
    position: relative;
    padding: 0 2em;
    display: grid;
    z-index: 1;
    place-items: center;
    text-decoration: none;
    width: 274px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.circular-btn::after {
    content: '';
    position: absolute;
    z-index: -1;
    background: hsl(0 0% 100% / .15);
    width: 100%;
    height: 100%;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 500ms linear, transform  750ms ease-in-out;
}

.circular-btn:hover::after,
.circular-btn:focus::after {
    transform: scale(1.5);
    opacity: 1;
}

.primary-navigation {
    --gap: 8rem;
    --underline-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a > span {
    font-weight: 700;
    margin-right: 0.5em;
}

.underline-indicators > * {
    padding: var(--underline-gap, 1rem) 0;
    border: 0;
    border-bottom: .2rem solid hsl(var(--clr-white) / 0);
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
    border-color: hsl(var(--clr-white) / 0.5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
    color: hsl(var(--clr-white) / 1);
    border-color: hsl(var(--clr-white) / 1);
}

.tab-navigation {
    --gap: 2rem;
    --underline-gap: 2rem;
}

.tab-navigation > button {
    cursor: pointer;
}