/* --------------------- */
/*  Custom Properties */
/* --------------------- */

:root {
    --clr-dark: hsl(230 35% 7%);
    --clr-light: hsl(231 77% 90%);
    --clr-white: hsl(0 0% 100%);
}

/* --------------------- */
/*  Reset */
/* --------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    min-height: 100vh;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea, 
select {
    font: inherit;
}

/* --------------------- */
/* Utility Classes */
/* --------------------- */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    padding-inline: 2em;
    max-width: 80rem;
    margin-inline: auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* --------------------- */
/*  Colors */
/* --------------------- */
.bg-dark {
    background-color: var(--clr-dark);
}

.bg-light {
    background-color: var(--clr-light);
}

.bg-white {
    background-color: var(--clr-white);
}

.text-dark {
    color: var(--clr-light);
}

.text-light {
    color: var(--clr-light);
}

.text-white {
    color: var(--clr-white);
}